In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import *

In [292]:
ATGC = ["A","T","G","C"]
seq = "ATGCGGCATTAT"

In [293]:
def split_n(text, n):
    return [ text[i:i+n] for i in range(len(text)-(n-1)) ]

In [294]:
splited = split_n(seq,5)

In [295]:
splited

['ATGCG', 'TGCGG', 'GCGGC', 'CGGCA', 'GGCAT', 'GCATT', 'CATTA', 'ATTAT']

In [296]:
def make_ran_dict(times):
    values = []
    for time in range(times):
        values.append([randint(0,3) for a in range(4)])
    dic = dict(zip(range(len(values)),values))
    return dic

In [297]:
df = DataFrame(make_ran_dict(15),index=ATGC)

In [298]:
df

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
A   1   1   1   2   2   0   0   0   2   2   0   0   2   1   2
T   1   1   0   1   2   0   2   1   0   2   0   1   0   1   0
G   0   1   0   1   1   1   0   0   1   0   2   1   2   1   2
C   1   0   0   2   2   0   1   0   1   1   2   2   1   2   1

In [300]:
df.iloc[0,1]

1

In [301]:
seqs.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7])

In [302]:
def col_val(sequence,dataframe,start):
    vl = 0
    num = start
#    print(seqs[start])
    
    for nc in sequence[start]: 
        point = 4
        if nc == "A":
            point = 0
        elif nc == "T":
            point = 1
        elif nc == "G":
            point = 2
        elif nc == "C":
            point = 3
    
        vl += df.iloc[point,num]
        num += 1
    return vl

In [303]:
vls = []
vls = [col_val(splited,df,times) for times in range(len(splited))]

In [304]:
vls

[5, 5, 5, 5, 3, 4, 3, 3]

In [305]:
splited

['ATGCG', 'TGCGG', 'GCGGC', 'CGGCA', 'GGCAT', 'GCATT', 'CATTA', 'ATTAT']

In [306]:
seq_df = pd.DataFrame({"sequence":splited,"value":vls})

In [307]:
seq_df

  sequence  value
0    ATGCG      5
1    TGCGG      5
2    GCGGC      5
3    CGGCA      5
4    GGCAT      3
5    GCATT      4
6    CATTA      3
7    ATTAT      3

In [10]:
ATGC = ["A","T","G","C"]

In [11]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import *

def make_ran_dict(times):
    values = []
    for time in range(times):
        values.append([randint(0,3) for a in range(4)])
    dic = dict(zip(range(len(values)),values))
    return dic

In [13]:
ATGC = ["A","T","G","C"]
df = DataFrame(make_ran_dict(15),index=ATGC)
df

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
A   2   1   0   1   2   0   1   0   2   1   0   1   0   1   1
T   1   1   0   0   2   1   2   1   0   0   0   2   0   1   1
G   1   0   0   2   2   2   2   1   2   2   1   2   0   2   0
C   1   2   1   2   0   0   1   0   2   1   2   2   0   0   2

In [14]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import *


seq = "ATGCGGCATTAT"
score_df = df


# split seq 
def split_n(text, n):
    return [ text[i:i+n] for i in range(len(text)-(n-1)) ]

# calcurate values in given sequence
def col_val(sequence,dataframe,start):
    vl = 0
    num = start
#    print(seqs[start])
    
    for nc in sequence[start]: 
        point = 4
        if nc == "A":
            point = 0
        elif nc == "T":
            point = 1
        elif nc == "G":
            point = 2
        elif nc == "C":
            point = 3
    
        vl += df.iloc[point,num]
        num += 1
    return vl


# split seq by 5
splited = split_n(seq,5)

# calcurate values in each splited sequence
vls = []
vls = [col_val(splited,score_df,times) for times in range(len(splited))]

# Save results as dataframe
seq_df = pd.DataFrame({"start_from":range(len(splited)),
                       "sequence":splited,
                       "value":vls},
                      columns=["start_from","sequence","value"])

In [15]:
seq_df

   start_from sequence  value
0           0    ATGCG      7
1           1    TGCGG      7
2           2    GCGGC      7
3           3    CGGCA      7
4           4    GGCAT      5
5           5    GCATT      3
6           6    CATTA      1
7           7    ATTAT      2

In [ ]:
seq_df.ix